/* source-sans-pro-regular - latin-ext_latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* oxanium-regular - latin-ext_latin */
@font-face {
  font-family: 'Oxanium';
  font-style: normal;
  font-weight: 400;
  src: local('Oxanium Regular'), local('Oxanium-Regular'),
       url('../fonts/oxanium-v1-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

.font-preset-info {
  @apply text-secondary-200 text-2xl font-display ;
}

.font-preset-card-title {
  @apply font-display text-center font-bold text-sm;
  @screen md {
      @apply text-base;
  }
  @screen lg {
      @apply text-lg;
  }
  @screen xl {
      @apply text-xl;
  }
}