body {
  @apply pointer-events-none
}

/* selection */
::selection {
  @apply bg-primary-700
}

.selection-lightest::selection {
  @apply bg-primary-100
}

.selection-lighter::selection {
  @apply bg-primary-300
}

.selection-darker::selection {
  @apply bg-primary-900
}

/* inputs */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}

input[type=range]::-webkit-slider-runnable-track {
  @apply bg-secondary-400 rounded-full w-full shadow-inner h-2 cursor-pointer;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
 @apply bg-primary-600 rounded-full shadow h-6 w-6 transform -translate-y-2 cursor-pointer;
}

input[type=range]:focus::-webkit-slider-thumb {
  @apply bg-primary-700;
}

input[type=range]:hover::-webkit-slider-thumb {
  @apply bg-primary-700;
}

input[type=range]:focus {
  @apply outline-none

}
