@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


@import 'initials.css';

@import 'gradients.css';

@import 'fonts.css';

@import 'scroll.css';

@import 'blend.css';

@import 'pseudoClasses.css';
