
.slide-enter-active,
.slide-leave-active
{
  transition: transform 300ms ease-in-out
}

.slide-enter {
  transform: translateY(150%);
  &.slide-enter-top {
    transform: translateY(-150%);
  }
  &.slide-enter-right {
    transform: translateX(150%);
  }
}
.slide-leave-to {
  transform: translateX(150%);
  &.slide-leave-bottom {
    transform: translateY(150%);
  }
}
.slide-move {
  @apply: transition-transform duration-700
}


.fade-enter-active, .fade-leave-active
{
  @apply transition-opacity duration-100
}

.fade-enter {
  @apply opacity-0
}
.fade-leave-to {
  @apply opacity-100
}
